<ng-container *ngIf="(favorites$ | async)?.length; else noFavorites">
  <div class="space-y-1 p-1">
    <div *ngFor="let stop of favorites$ | async" role="button" tabindex="0" (click)="setSelectedStop(stop)"
      (keydown.enter)="setSelectedStop(stop)"
      class="group relative flex items-center px-4 py-2 rounded-xl bg-white hover:bg-blue-50 shadow-sm transition-all duration-200 border border-gray-200 hover:border-blue-200">
      <div class="flex-1 min-w-0">
        <h4 class="text-lg font-semibold text-gray-900 truncate">
          {{ stop.stopName }}
        </h4>
        <div class="flex space-around items-center text-sm text-gray-500">
          <div
            class="flex items-center space-x-2 bg-nagahama-blue text-white font-bold rounded-lg px-1 py-1 text-sm shadow-md mt-1 ">
            <span>
              {{ stop?.arrivals?.[0]?.route}}
              <span>-</span>
              <span>
                {{ stop?.arrivals?.[0]?.stopTime}}
              </span>
            </span>
          </div>
          <span class="text-white">•</span>
          <span>
            Arrives in: {{ stop.arrivals?.[0]?.arrivalDate | diffMinutes }} min
          </span>
        </div>
      </div>
      <button type="button" (click)="toggleFavorite(stop); $event.stopPropagation()"
        class="p-2 text-red-500 hover:text-red-700 rounded-full">
        <fa-icon class="text-sm" [icon]="faX"></fa-icon>
      </button>
    </div>
  </div>
</ng-container>

<ng-template #noFavorites>
  <div class="text-center py-12 px-4">
    <p class="text-lg font-medium text-gray-700">No favorite stops yet</p>
    <p class="mt-2 text-sm text-gray-500">
      Select a stop and click "Add Favorite" to save it here
    </p>
  </div>
</ng-template>