<ng-container *ngIf="sidebarMode$ | async as sidebarMode">
  <div class="h-full relative z-[200] w-full mt-5 px-3">
    <div class="absolute right-0 top-0 mx-3 py-1">
      <button (click)="this.resetSidebar()"
        class="flex items-center justify-center px-2  bg-white border border-gray-300 rounded-full shadow-sm hover:bg-red-100 hover:scale-110 transition-transform duration-200 cursor-pointer">
        <fa-icon [icon]="faXmark" class="text-red-600 text-xl"></fa-icon>
      </button>
    </div>
    <ng-container [ngSwitch]="sidebarMode">
      <favorites-sidebar *ngSwitchCase="'favorites'"></favorites-sidebar>
      <stops-sidebar *ngSwitchCase="'stop'"></stops-sidebar>
      <subscriptions-sidebar *ngSwitchCase="'subscriptions'"></subscriptions-sidebar>
    </ng-container>
  </div>
</ng-container>