<div class=" border-t-2 border-nagahama-blue shadow-lg">
  <div class="px-2 py-2">
    <div class="grid grid-cols-3 gap-4 h-[100px] ">
      <ng-container [ngTemplateOutlet]="favoritesTemplate"></ng-container>
      <ng-container *ngIf="trackerMode.both || trackerMode.bus || trackerMode.stop">
        <ng-container *ngIf="trackerMode.both">
          <ng-container [ngTemplateOutlet]="combinedTemplate"></ng-container>
        </ng-container>
        <ng-container *ngIf="trackerMode.bus" [ngTemplateOutlet]="busTemplate"></ng-container>
        <ng-container *ngIf="trackerMode.stop" [ngTemplateOutlet]="stopsTemplate"></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #favoritesTemplate>
  <ng-container *ngIf="(favoritesData$ | async) as data">
    <ng-container *ngIf="data.favoritesNearby.length > 0">
      <div class="h-full w-full rounded-2xl border-[1px]  shadow-lg border-gray-200" id="favorites"
        (click)="setFavoritesNearbyIndex(data.favoriteInViewIndex, data.favoritesNearby)">
        <div class="h-full p-1">
          <div class="h-full flex flex-col">
            <div class="flex justify-center">
              <fa-icon [icon]="faStar" class="text-nagahama-blue"></fa-icon>
              <p class="ml-1 font-semibold">Nearby</p>
            </div>
            <div class="flex-grow flex flex-col justify-center items-center ">
              <p class="font-bold text-2xl">{{data.favoritesNearby.length}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>



<ng-template #stopsTemplate>
  <ng-container *ngIf="trackerData$ | async as data">
    <div class="p-1 w-full h-full rounded-2xl border  shadow-lg border-gray-200" (click)="onStopsWidgetClick()">
      <div class="flex justify-between mx-2">
        <div class="flex">
          <fa-icon class="text-red-500" [icon]="faLocationDot"></fa-icon>
          <p class="ml-1 text-lg font-semibold">
            {{data.stop?.stopCode}}
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>



<ng-template #busTemplate>
  <ng-container *ngIf="trackerData$ | async as data">
    <div *ngIf="data.vehicle?.busNumber" id="tracked-vehicle"
      class="p-1 w-full h-full rounded-2xl border  shadow-lg border-gray-200">
      <div class="flex justify-between mx-2">
        <div class="flex">
          <img [src]="getBusMarkerImage()" alt="Bus Icon" class="w-[25px] h-[25px]" />
          <p class="ml-1 text-lg font-semibold">{{data.vehicle?.routeName === 'null' ? '😴' :
            data.vehicle?.routeName}}
          </p>
        </div>
        <button class="m-1 text-red-500 hover:text-red-700 focus:outline-none" (click)="updateTrackedVehicle(null)">
          <span class="sr-only">Dismiss tracked vehicle</span>
          <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <div class="px-1">
        <div class="overflow-hidden">
          <p id="bus-tracker-header" class="text-lg font-bold whitespace-nowrap inline-block">
            {{data.vehicle?.headsign === 'null' ? 'No Route' : data.vehicle?.headsign}}</p>
        </div>

        <fa-icon [icon]="faSyncAlt"></fa-icon>
        <span class="pl-1 text-sm overflow-y-hidden">{{data.vehicle?.lastUpdated}}s ago</span>
      </div>
    </div>
  </ng-container>

  <style>
    @keyframes bus-tracker-header-scroll {
      0% {
        transform: translateX(45%);
      }

      100% {
        transform: translateX(-100%);
      }
    }

    #bus-tracker-header {
      animation: bus-tracker-header-scroll 15s linear infinite;
    }
  </style>
</ng-template>



<ng-template #combinedTemplate>
  <ng-container *ngIf="trackerData$ | async as data">
    <div class="col-span-2">
      <div id="vehicle-and-stop" class="flex flex-col p-1 w-full h-full rounded-2xl border  shadow-lg border-gray-200">
        <div class="overflow-hidden">
          <h3 id="combined-header" class="inline-block font-semibold uppercase whitespace-nowrap">
            🚌 {{data.vehicle?.busNumber}} to
            <span>
              <fa-icon class="ml-1 text-red-500" [icon]="faLocationDot"></fa-icon>
            </span>
            {{data.stop?.stopName}}
          </h3>
        </div>
        <div class="flex-grow flex flex-col items-center">
          <div class="text-2xl">
            <span>
              🚌 =>
              <fa-icon class="ml-1 text-red-500" [icon]="faLocationDot"></fa-icon>
            </span>
          </div>
          <ng-container *ngIf="data.arrival">
            {{data.arrival.stopTime}} - ({{data.vehicle?.lastUpdated}} sec ago)
          </ng-container>
          <!-- <div>7 minutes and 45 seconds</div> -->
        </div>
      </div>
    </div>
  </ng-container>
  <style>
    #combined-header {
      animation: combined-header-scroll 15s linear infinite;
    }

    @keyframes combined-header-scroll {
      0% {
        transform: translateX(50%);
      }

      100% {
        transform: translateX(-100%)
      }
    }
  </style>
</ng-template>