<ng-container *ngIf="favoritesData$ | async as favoritesData">
  <div class="h-full w-full mt-2 rounded-2xl border-[1px] bg-white shadow-lg border-gray-200"
    *ngIf="favoritesData.favoritesNearby.length > 0" id="favorites" (click)="setFavoritesNearbyIndex()">
    <div class="h-full p-1">
      <div class="h-full flex flex-col">
        <div class="flex justify-center">
          <fa-icon [icon]="faStar" class="text-nagahama-blue"></fa-icon>
          <p class="ml-1 font-semibold">Nearby</p>
        </div>
        <div class="flex-grow flex flex-col justify-center items-center ">
          <p class="font-bold text-2xl">{{favoritesData.favoritesNearby.length}}</p>
        </div>
      </div>
      <!-- <div [ngClass]="{'invisible': favoritesData.favoriteInViewIndex === null}"
        class="flex items-center flex-grow justify-between px-16 pt-1">
        <div class=" p-1">
          <fa-icon [icon]="faChevronLeft" (click)="decrementfavoritesNearbyIndex()"
            class="text-gray-400 hover:scale-110 hover:text-gray-700 active:text-gray-700 transition-colors duration-200 text-lg cursor-pointer"></fa-icon>
        </div>
        <span>{{favoritesData.favoriteInViewIndex! + 1}} of
          {{favoritesData.favoritesNearby.length}}</span>
        <div class="p-1">
          <fa-icon [icon]="faChevronRight" (click)="incrementfavoritesNearbyIndex()"
            class="text-gray-400 hover:scale-110 hover:text-gray-700 active:text-gray-700 transition-colors duration-200 text-lg cursor-pointer"></fa-icon>
        </div>
      </div> -->
    </div>
  </div>
</ng-container>