<div class="pt-5">
  <h1 class="text-3xl"> Stops</h1>
  <ng-container *ngIf="selectedStop">
    <h1>
      Selected Stop {{ selectedStop.stopCode }}
    </h1>
  </ng-container>

  <div>
    <ul class="flex flex-row overflow-auto">
      <li *ngFor="let stop of stops" class="flex-shrink-0">
        <button (click)="onStopClick(stop)" class="">
          <div class="stops-row bg-slate-50 border mx-2 p-3 shadow-md">
            <h1 class="text-xl underline">Stop {{ stop.stopCode}}</h1>
            <ul class="text-left">
              <li class="pt-1">Coordinates (DD): {{ stop.stopLat}}, {{ stop.stopLon }}</li>
              <li class="pt-1">URL: {{ stop.stopUrl }}</li>
            </ul>
          </div>
        </button>
    </ul>
  </div>
</div>