<div id="map-wrapper" class="w-full touch-pan-x touch-pan-y">
  <google-map id="map" height=100vh width=100vw [options]="mapOptions" (mapInitialized)=" onMapReady($event)">
    <map-advanced-marker *ngFor="let marker of vehicleMarkers$ | async; trackBy: trackByMarkerId"
      [position]="marker.position" [title]="marker.title" [content]="marker.content" (mapClick)="onMarkerClick(marker)">
    </map-advanced-marker>
    <!-- TODO: make map-advanced-marker, set it accordingly. basically migrate these two icons to html elements. -->
    <map-marker *ngFor="let marker of visibleStopMarkers$ | async; trackBy: trackByMarkerId" [title]="marker.title"
      [icon]="marker.favorite ? favoriteMarkerIcon : markerIcon" [position]="marker.position"
      (mapClick)="onMarkerClick(marker)">
    </map-marker>
    <map-advanced-marker *ngIf="userPosition() as userPosition" [position]="userPosition" [title]="'Your Location'"
      [content]="createUserIconContent()">
    </map-advanced-marker>
    <!-- <map-rectangle *ngIf="boundsRectangle" [bounds]="boundsRectangle.getBounds()!"></map-rectangle> -->
  </google-map>
</div>