<header class="lg:h-screen shadow-lg border-nagahama-blue border-b-2 lg:w-24">
  <div class="flex lg:flex-col justify-between px-1 py-2 h-full ">
    <div id="logo" class="ml-3 lg:ml-2 flex flex-row lg:flex-col items-center">
      <div></div>
      <h1 class="text-2xl font-bold text-center lg:text-left whitespace-pre-wrap">Bettah Bus</h1>
      <span class="ml-3 lg:ml-0 text-left">{{version}}</span>
    </div>
    <div class="flex-1"></div>
    <ul class="flex flex-row lg:flex-col items-center space-x-2 lg:space-y-2 mr-2 lg:mr-0">
      <li>
        <button (click)="toggleMode('favorites')" class="hover:text-blue-600">
          <fa-icon class='text-nagahama-blue text-xl lg:text-3xl' [icon]="faStar"></fa-icon>
          <p class="text-sm">Favorites</p>
        </button>
      </li>
      <li>
        <button (click)="toggleMode('subscriptions')" class="hover:text-blue-600">
          <fa-icon class='text-nagahama-blue text-xl lg:text-3xl' [icon]="faBell"></fa-icon>
          <p class="text-sm">Notify</p>
        </button>
      </li>
    </ul>
  </div>
</header>