<div id="subscriptions">
  <div id="sub-header" class="text-center p-3 border-b-2">
    <p class="text-center text-xl font-semibold tracking-tighter uppercase">
      Favorites
    </p>
  </div>
  <div *ngFor="let favorite of favorites$ | async; let i = index">
    <ng-container *ngIf="i !== editingFavoriteIndex; else editMode">
      <div (click)="this.setSelectedStop(favorite.stopId, i)" id="favorite-{{favorite.stopId}}"
        class="min-h-[66px] w-full py-2 px-2 bg-gray-50 shadow-lg border">
        <div class="relative w-full cursor-pointer">
          <h3 class="font-semibold uppercase ">{{favorite.stopName}}</h3>
          <p>Stop #: {{favorite.stopId}}</p>
          <div class="absolute inset-y-0 right-0 flex items-center space-x-1 pr-1">
            <div class="p-1">
              <fa-icon [icon]="faPencilAlt" (click)="startEditing(i)"
                class="text-blue-500 hover:text-blue-700 transition-colors text-lg"></fa-icon>
            </div>
            <div class="p-1 ">
              <fa-icon (click)="deleteFavorite(i)" [icon]="faXmark"
                class="text-red-500 hover:text-red-700 transition-colors text-lg"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #editMode>
      <form [formGroup]="inputForm" (ngSubmit)="onSubmit($event, i)" novalidate>
        <div id="wtf" class="min-h-[66px] w-full py-2 px-2 bg-gray-50 shadow-lg border">
          <div class="relative w-full min-h-[48pwx]">
            <input formControlName="newName" id="favorite-{{i}}-input" name="stopName" class="w-full min-h-[48px]">
            <div class="absolute inset-y-0 right-0 flex items-center space-x-1 pr-1">
              <button class="p-1" type="submit" [disabled]="!inputForm.valid">
                <fa-icon [icon]="faCheck"
                  class="text-green-500 hover:text-green-700 transition-colors text-lg"></fa-icon>
              </button>
              <div class="p-1 ">
                <fa-icon (click)="cancelEditing()" [icon]="faXmark"
                  class="text-red-500 hover:text-red-700 transition-colors text-lg"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </div>
</div>